Client/Service References/ServiceReference1/ServerService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServerService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8000/ServerService?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8000/ServerService?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServerService_Test_InputMessage">
    <wsdl:part name="parameters" element="tns:Test" />
  </wsdl:message>
  <wsdl:message name="IServerService_Test_OutputMessage">
    <wsdl:part name="parameters" element="tns:TestResponse" />
  </wsdl:message>
  <wsdl:message name="IServerService_StoreSession_InputMessage">
    <wsdl:part name="parameters" element="tns:StoreSession" />
  </wsdl:message>
  <wsdl:message name="IServerService_StoreSession_OutputMessage">
    <wsdl:part name="parameters" element="tns:StoreSessionResponse" />
  </wsdl:message>
  <wsdl:message name="IServerService_GetSessionName_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSessionName" />
  </wsdl:message>
  <wsdl:message name="IServerService_GetSessionName_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSessionNameResponse" />
  </wsdl:message>
  <wsdl:message name="IServerService_SendByteData_InputMessage">
    <wsdl:part name="parameters" element="tns:SendByteData" />
  </wsdl:message>
  <wsdl:message name="IServerService_SendByteData_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendByteDataResponse" />
  </wsdl:message>
  <wsdl:portType name="IServerService">
    <wsdl:operation name="Test">
      <wsdl:input wsaw:Action="http://tempuri.org/IServerService/Test" message="tns:IServerService_Test_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServerService/TestResponse" message="tns:IServerService_Test_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="StoreSession">
      <wsdl:input wsaw:Action="http://tempuri.org/IServerService/StoreSession" message="tns:IServerService_StoreSession_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServerService/StoreSessionResponse" message="tns:IServerService_StoreSession_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSessionName">
      <wsdl:input wsaw:Action="http://tempuri.org/IServerService/GetSessionName" message="tns:IServerService_GetSessionName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServerService/GetSessionNameResponse" message="tns:IServerService_GetSessionName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendByteData">
      <wsdl:input wsaw:Action="http://tempuri.org/IServerService/SendByteData" message="tns:IServerService_SendByteData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServerService/SendByteDataResponse" message="tns:IServerService_SendByteData_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServerService" type="tns:IServerService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Test">
      <soap:operation soapAction="http://tempuri.org/IServerService/Test" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StoreSession">
      <soap:operation soapAction="http://tempuri.org/IServerService/StoreSession" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSessionName">
      <soap:operation soapAction="http://tempuri.org/IServerService/GetSessionName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendByteData">
      <soap:operation soapAction="http://tempuri.org/IServerService/SendByteData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServerService">
    <wsdl:port name="BasicHttpBinding_IServerService" binding="tns:BasicHttpBinding_IServerService">
      <soap:address location="http://localhost:8000/ServerService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>